<html>

<head>
	<title>Assignment Grading</title>
</head>

<body>

	<div id= "options">
		<form action="/logout/" method="GET">
			<input type="submit" value="Log Out">
		</form>
	</div>

	<div id = "nav">
		<div>
			<form action="/profile/" method="GET">
				<input type="submit" value="Profile">
			</form>
		</div>
	</div>

	<hr>

	{{.Title}}

	<hr>

	<script>
		var submissions = JSON.parse({{.Submissions}});
		for( var i = 0; i < submissions.length; i++)
		{
			document.write("Student "+submissions[i]["accID"]+"<br>");
			document.write("<a href=\""+window.location.href+"/"+submissions[i]["accID"]+"\" target=\"_blank\">Click to grade</a><br>");
			document.write("Given grade: "+submissions[i]["gradeStatus"]+"<br><br><br>");
		}
	</script>

</body>

</html>